//sass --watch sass:public/stylesheets --style compressed

@import 'vars';
@import 'modules/home';
@import 'modules/users';

a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}


body {
    background-color: $black;
}